@page "/"

<PageTitle>Index</PageTitle>

<nav>
    @*EX 17*@

    @*EX 11*@
    
    @*EX 6*@
</nav>

<div style="width: 100%; height: 100%; overflow: hidden; touch-action: none;">
    @*EX 1*@

    @*EX 4*@
</div>